.masthead {
  height: 10vh;
  min-height: 180px;
  background-color: #0EA691;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.heading {
  color: white;
}

